﻿@model RRA.MVC.UI.Models.User

@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row" id="registration-form">
        <div class="rra-header">
            <i class="material-icons">
                how_to_reg
            </i>Registration
        </div>

        @using (Html.BeginForm())
        {
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        @Html.TextBoxFor(model => model.UserName, new { @id = "FirstName", @class="validate"})
                        @*<input id="FirstName" type="text" class="validate">*@
                        <label for="FirstName">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        @Html.TextBoxFor(model => model.LastName, new { @id = "LastName", @class = "validate" })
                        <label for="LastName">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        @Html.TextBoxFor(model => model.Email, new { @id = "Email", @class = "validate" })
                        <label for="Email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">
                            email
                        </i>
                        <input id="ReEmail" type="email" class="validate">
                        <label for="ReEmail">Re-Enter Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">security</i>
                        <input id="Password" type="password" class="validate">
                        <label for="Password">Password</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">security</i>
                        <input id="RePassword" type="password" class="validate">
                        <label for="RePassword">Re-Enter Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">contact_phone</i>
                        @Html.TextBoxFor(model => model.MobileNumber, new { @id = "MobileNumber", @class = "validate" })
                        <label for="MobileNumber">Phone</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input id="Phone" type="text" class="validate">
                        <label for="Phone">Work Phone</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">home</i>
                        <textarea id="Address" class="materialize-textarea"></textarea>
                        @Html.TextAreaFor(model => model.Address, new { @id = "Address", @class = "validate" })
                        <label for="Address">Address</label>
                    </div>
                    <div class="input-field col s12">     
                        <button type="submit" class="waves-effect waves-light btn">Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>