﻿#logo-container i {
    font-size: 30px !important;
    margin-right: 0px;
    color: #f8b421;
}

nav a{
    color: #f8b421 !important;
}
#nav-mobile{
    margin-top:56px;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

.rra-header {
    font-size: 22px;
    margin: 10px 10px 0px 10px;
    font-weight: bold;
    color: #f8b421;
}
#registration-form i {
    color: #f8b421;
}
#registration-form .row {
   margin-bottom: 0px !important;
}

button {
    background-color: #f8b421 !important;
    color: white !important;
}